#wrapper {
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
}

/* Header & Nav  */

header {
    grid-area: header;
    margin: 0 auto;
    width: 100%;
    justify-content: space-around;
    text-align: center;
}

#logo {
    border-bottom: 1.5rem solid #2E2A2A;
    padding: 1rem;
}

nav {
    margin: 0 auto;
    display: flex;
}

#nav {
    margin: 1rem auto;
    display: flex;
}

#nav > li {
    margin: 0 1rem;
}

/* Main */

main {
    display: grid;
    grid-area: main;
    grid-template-areas: 
        "hero"
        "about"
        "services"
        "contact"
    ;
}

/* Hero Image */

#hero {
    grid-area: hero;
    height: 250px;
    background-color: #2E2A2A;
    color: #fff;
    text-align: center;
    padding-top: 1.5rem;
}

#about {
    grid-area: about;
    height: 400px;
    text-align: center;
    padding-top: 1.5rem;
}

.services {
    display: grid;
    height: auto;
    grid-template-areas:
        "alarm"
        "sprinkler"
        "extinguisher"
    ;
    background-color: #2E2A2A;
    color: #fff;
}

.section-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

section {
    background-color: #EFEFEF;
    color: #2E2A2A;
    padding: 1rem;
    margin-bottom: 1.25rem;
    height: 300px;
    display: flex;
    justify-content: center;
}

.contact {
    height: 400px;
    text-align: center;
    padding: 1rem;
}

footer {
    padding: 1rem;
    grid-area: footer;
    text-align: center;
    height: 200px;
    background-color: #EFEFEF;
}
